<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MyApp</name>
    <description>
        A sample Apache Cordova application that accesses MP3 files.
    </description>
    <author email="dev@example.com" href="http://example.com">
        Example Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <!-- Android specific configurations -->
    <platform name="android">
        <allow-intent href="market:*" />

        <!-- Preferences -->
        <preference name="android-minSdkVersion" value="21" />
        <preference name="android-targetSdkVersion" value="33" />
        <preference name="Orientation" value="portrait" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="3000" />
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
        </config-file>

        <!-- Legacy storage flag for Android 10 (API level 29) -->
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:requestLegacyExternalStorage="true" />
        </edit-config>
    </platform>

    <!-- iOS specific configurations (if needed) -->
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <!-- Plugins -->
    <plugin name="cordova-plugin-file" spec="^6.0.0" />
    <plugin name="cordova-plugin-media" spec="^5.0.0" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.1.0" />
</widget>
